@import 'variables';

@import 'cards';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #4d4d4d;
    background-color: #F6F6F7;
    font-family: $main-font-family;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}

.row {
    margin: 0 auto;
    max-width: 1060px;
}

.content-row {
    @extend .row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.content {
    padding-top: 20px;
}

nav {
    background: $primary-color;
    border-bottom: 1px solid #ddd;
    min-height: 65px;

    .logo {
        display: inline-block;
        padding: 5px;
        max-height: 60px;
        max-width: 60px;
    }
}

//bootstrap
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-backdrop
{
    opacity:0.8 !important;
}